.cards_container {
	display: flex;
	transition: 0.5s;
}

.arrows {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.arrow {
	width: 50px;
	top: 50%;
	cursor: pointer;
	&:hover {
		transform: scale(1.05);
	}
	margin: 0 5px;
}